* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #f8ede3;
    --text-color: #7d6e83;
    --card-bg-color: #dfd3c3;
    --details-color: #d0b8a8;
    --ok-bg-color: #bfdb38;
    --cancel-bg-color: #e64848;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-color);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

.header h1 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--text-color);
    display: inline;
}

.header svg {
    height: 6rem;
    fill: var(--text-color);
}

.logo {
    display: flex;
    align-items: center;
}

button.add-book {
    font-size: 3rem;
    background-color: var(--details-color);
    color: var(--main-color);
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

button.add-book:hover {
    background-color: var(--text-color);
}

button i {
    margin-left: 3px;
}

/* Book Cards */
.card-container {
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.first-card,
.book-card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--details-color);
    border-radius: 10px;
    padding: 1rem 1rem;
    text-align: center;
    color: var(--text-color);
}

.book-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-weight: bold;
}

.book-card.book-read {
    box-shadow: 3px 3px 2px 1px rgba(91, 192, 248, 0.6);
}

.book-card.book-finished {
    box-shadow: 3px 3px 2px 1px rgba(104, 185, 132, 0.6);
}

.book-card span {
    font-size: 10px;
    font-weight: 300;
    margin: 10px;
}

.book-card .reading:hover {
    color: #5bc0f8;
    cursor: pointer;
}

.reading.read-click {
    color: #5bc0f8;
}

.finished.finished-click {
    color: #68b984;
}

.book-card .finished:hover {
    color: #68b984;
    cursor: pointer;
}

.book-card .delete-book {
    font-size: 10px;
    background-color: var(--details-color);
    color: var(--main-color);
    border: none;
    border-radius: 45%;
    height: 18px;
    width: 18px;
    cursor: pointer;
    justify-self: end;
    margin-left: 10px;
}

.book-card .delete-book:hover {
    background-color: var(--text-color);
}

/* Pop up form */
.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}
.form-popup {
    position: fixed;
    display: none;
    top: 30px;
    right: 15px;
    border: 3px solid var(--details-color);
    border-radius: 10px;
    background-color: #f5e9cf;
    color: var(--text-color);
    padding: 2rem;
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 15px;
}

.form-popup input[type="text"],
.form-popup input[type="tel"] {
    border: none;
    padding: 5px;
    font-size: inherit;
    background-color: var(--card-bg-color);
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 10px;
}

.form-popup .btn {
    width: 40%;
    justify-self: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--ok-bg-color);
    cursor: pointer;
    font-size: 1rem;
    color: #ececec;
}

.form-popup .cancel {
    background-color: var(--cancel-bg-color);
}

.form-popup .btn:hover,
.form-popup .cancel:hover {
    opacity: 0.8;
}
